# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../../../../:\Users\nimab\Desktop\Desktop\OsloMet\3.semester H20\Alg&Datastrukturer\Mappeeksamen-Algdat-H20\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
